@font-face{
    font-family:"Seasons";
    src: url("/fonts/aFTH7PxzY382XsXX63LUYL6GYFcan6NJrKp-VPj1KOxQ.woff2");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons1";
    src: url("/fonts/ke80OhoaMkR6-hSn7kbHVoFf7ZfgMPr_nQIpBcwXLg.woff2");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons2";
    src: url("/fonts/ke82OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbw0qc4nLKoQ.woff2");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons3";
    src: url("/fonts/ke87OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbw8Eusy.woff2");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons4";
    src: url("/fonts/Poppins-Regular.ttf");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons5";
    src: url("/fonts/X7ny4bc_DeKlh6bBbk_WiKnBSUvL5HaHbrgS1MXKHjzibMruPA.woff2");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons6";
    src: url("/fonts/YA9Br0yU4l_XOrogbkun3kQ6vLFYXmpq8sRsYuDrigS4dA.woff2");
    font-weight: normal;
}
@font-face{
    font-family:"Seasons7";
    src: url("/fonts/YA9Hr0yU4l_XOrogbkun3kQQtYOnhgMBaGprdyioUkCIdjVB.woff2");
    font-weight: normal;
}
