@font-face {
    font-family: "font1";
    src: url("./fonts/YA9Hr0yU4l_XOrogbkun3kQQtYOnhgMBaGprdyioUkCIdjVBHE-KgQ.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font2";
    src: url("./fonts/aFTH7PxzY382XsXX63LUYL6GYFcan6NJrKp-VPj1KOxQVAS1Eg.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font3";
    src: url("./fonts/ke80OhoaMkR6-hSn7kbHVoFf7ZfgMPr_nQIpBcwXLqAXIyA.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font4";
    src: url("./fonts/ke82OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbw0qc4nLKoQASLpIQ.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font5";
    src: url("./fonts/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbkMEOE1I4o.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font6";
    src: url("./fonts/ke87OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbw8EusyAYgdKw.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font7";
    src: url("./fonts/X7ny4bc_DeKlh6bBbk_WiKnBSUvL5HaHbrgS1MXKHjzibMruPEvuHsk.woff2");
    font-style: normal;
}
@font-face {
    font-family: "font8";
    src: url("./fonts/YA9Br0yU4l_XOrogbkun3kQ6vLFYXmpq8sRsYuDrigS4dD9GPk0.woff2");
    font-style: normal;
}